<!-- controller.home -->
	
  <div class="row">

	<div class="owl-carousel owl-theme" id="sliding-banner">
	  <div class="item">
		<img src="img/health.jpg" alt="Health and related services" class="img-responsive">
	  </div>
	  <div class="item">
		<img src="img/public.jpg" alt="Public life and decision-making">
	  </div>
	  <div class="item">
		<img src="img/education.jpg" alt="Education">
	  </div>
	  <div class="item">
		<img src="img/rights.jpg" alt="Human rights of women and children">
	  </div>
	  <div class="item">
		<img src="img/economy.jpg" alt="Economic structures, participation in productive activities and access to resources">
	  </div>
	</div>

	<div class="caption-area">
	</div>

	<div class="owl-carousel owl-theme" id="sliding-text">
	  <div class="item">
		<span class="caption-title">Health and related services</span> Reducing the impact of gender inequality and gender norms and expectations on women and men’s health conditions and ensuring healthy lives and promoting well-being for all.
	  </div>
	  <div class="item">
		<span class="caption-title">Public life and decision-making</span> Ensuring women's equal access to decision-making opportunities, characterised by the ability to participate fully in political and civic life and to assume leadership positions in the
		public and private sectors.
	  </div>
	  <div class="item">
		<span class="caption-title">Education</span> Closing the gap between women and men in access to social and economic opportunities through inclusive and equitable quality education.
	  </div>
	  <div class="item">
		<span class="caption-title">Human rights of women and children</span> Eliminating all harmful practices such as child, early and forced marriage and female genital mutilation and all forms of violence against all women and girls.

	  </div>
	  <div class="item">
		<span class="caption-title">Economic structures, participation in productive activities and access to resources</span> Eliminating all harmful practices such as child, early and forced marriage and female genital mutilation and all forms of violence against all women and girls.
	  </div>
	</div>

	<div class="nav-area">
	  <a id="prevBtn" class="nav-btn">
		<i class="fa fa-angle-left"></i>
	  </a>
	  <a id="nextBtn" class="nav-btn">
		<i class="fa fa-angle-right"></i>
	  </a>
	</div>

  </div>

  <br>
  <br>

	<div class="row sections-row intro-text">
		<div class="col-md-12">
			<div class="title-topic">
				<span class="topic">Introduction</span>
			</div>
		</div>
		<div class="col-md-12">
			<p> Following the recommendations by the United Nations Statistical Commission (decision 42/102) in 2013, the minimum set of gender indicators composed of 52 quantitative indicators and 11 qualitative indicators covering national norms and laws on gender equality. The indicators are to be used a guide for the national production and international compilation of gender statistics.
			</p>
			<p>The indicators are classified into the three tiers: </p>
		</div>
		<div class="col-md-10 col-md-offset-1 sec-center">
			<div class="col-md-4 text-center">
				<img src="img/Tier1.png">
				<br>
				<h3>Tier 1</h3> Conceptually clear, with an agreed international definition and regularly produced by countries.
			</div>
            <div class="col-md-4">
                    <img src="img/Tier2.png">
                <br>
                <h3>Tier 2</h3> Conceptually clear, with an agreed international definition, but not yet regularly produced by countries.
            </div>
            <div class="col-md-4">
                    <img src="img/Tier3.png">
                <br>
                <h3>Tier 3</h3> No agreed international standards, not regularly produced by countries.
            </div>  
        </div>
        <div class="col-md-12">
            <p><br>You can also access qualitative indicators <a href='http://unstats.un.org/unsd/gender/Data/Qualitative%20Indicators.html' target="_blank">here</a>. This application is based on data updated on May 20th, 2016.</p>
        </div>
        

	</div>
